<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="base" params="base_link">
        <link name="base_link">
            <inertial>
                <origin xyz="0 0 0.04" rpy="0 0 0"/>
                <mass value="0.5"/>
                <inertia
                    ixx="0.000683" ixy="0.0" ixz="0.0"
                    iyy="0.000683" iyz="0.0"
                    izz="0.000833"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="file://$(find roomiearm_description)/meshes/base_link.stl"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <geometry>
                    <box size="0.1 0.1 0.08"/>
                </geometry>
                <origin xyz="0 0 0.04" rpy="0 0 0"/>
            </collision>
        </link>

        <gazebo reference="${base_link}">
            <visual>
                <material>
                    <ambient>0.5 0.5 0.5 1</ambient>
                    <diffuse>0.5 0.5 0.5 1</diffuse>
                    <specular>0.5 0.5 0.5 1</specular>
                </material>
            </visual>
        </gazebo>
    </xacro:macro>
</robot>





