<?xml version="1.0"?>
<model>
  <name>ArUco Marker 101</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  
  <author>
    <name>Roomie Robot System</name>
    <email>roomie@robot.com</email>
  </author>
  
  <description>
    ArUco marker with ID 101 for robot vision system
  </description>
  
</model>
