<?xml version="1.0"?>
<model>
  <name>Roomie 4DOF Robot</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  
  <author>
    <name>Roomie Robot System</name>
    <email>roomie@robot.com</email>
  </author>
  
  <description>
    4DOF robotic arm for ArUco marker detection and button pressing
  </description>
  
</model>
