<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="roomiearm_4dof_gazebo" params="prefix">

    <!-- ros2_control Gazebo 플러그인 -->
    <gazebo>
      <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find roomiearm_gazebo)/config/roomie_controllers.yaml</parameters>
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
      </plugin>
    </gazebo>

        <!-- 카메라 센서 -->
    <gazebo reference="camera_link">
      <sensor type="camera" name="camera">
        <pose>0 0 0 0 -1.5708 1.5708</pose>
        <visualize>true</visualize>
        <update_rate>30.0</update_rate>
        <topic>camera/image_raw</topic>
        <camera name="roomiearm_camera">
          <camera_info_topic>camera/camera_info</camera_info_topic>
          <horizontal_fov>1.0466</horizontal_fov>
          <image>
            <width>800</width>
            <height>600</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
          <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.01</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>

    <!-- 링크별 Material 설정 -->
    <gazebo reference="${prefix}base_link">
      <material>
        <script>
          <uri>file://media/materials/scripts/gazebo.material</uri>
          <name>Gazebo/Grey</name>
        </script>
      </material>
    </gazebo>

    <gazebo reference="${prefix}link_1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>
        <script>
          <uri>file://media/materials/scripts/gazebo.material</uri>
          <name>Gazebo/Blue</name>
        </script>
      </material>
    </gazebo>

    <gazebo reference="${prefix}link_2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>
        <script>
          <uri>file://media/materials/scripts/gazebo.material</uri>
          <name>Gazebo/Blue</name>
        </script>
      </material>
    </gazebo>

    <gazebo reference="${prefix}link_3">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>
        <script>
          <uri>file://media/materials/scripts/gazebo.material</uri>
          <name>Gazebo/Blue</name>
        </script>
      </material>
    </gazebo>

    <gazebo reference="${prefix}link_4">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>
        <script>
          <uri>file://media/materials/scripts/gazebo.material</uri>
          <name>Gazebo/Blue</name>
        </script>
      </material>
    </gazebo>

  </xacro:macro>

</robot>
