<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roomiearm">

    <xacro:arg name="robot_name" default="roomiearm"/>
    <xacro:arg name="add_world" default="true"/>
    <xacro:arg name="base_link" default="base_link"/>
    <xacro:arg name="base_type" default="g_shape"/>
    <xacro:arg name="use_gazebo" default="false"/>


    <xacro:if value="$(arg add_world)">
      <link name="world"/>
      <joint name="virtual_joint" type="fixed">
          <parent link="world"/>
          <child link="$(arg base_link)"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
      </joint>
    </xacro:if>


    <xacro:property name="current_base" value="$(arg base_type)"/>
    <xacro:if value="${current_base == 'g_shape'}">
        <xacro:include filename="$(find roomiearm_description)/urdf/mech/base.urdf.xacro"/>
        <xacro:base base_link="$(arg base_link)"/>
    </xacro:if>


    <xacro:include filename="$(find roomiearm_description)/urdf/mech/arm.urdf.xacro"/>
    <xacro:roomiearm_arm
      base_link="$(arg base_link)">
    </xacro:roomiearm_arm>


    <xacro:include filename="$(find roomiearm_description)/urdf/control/gazebo_sim_ros2_control.urdf.xacro" />
    <xacro:load_gazebo_sim_ros2_control_plugin 
      use_gazebo="$(arg use_gazebo)"/>


    <xacro:include filename="$(find roomiearm_description)/urdf/control/roomiearm_ros2_control.urdf.xacro" />
    <xacro:roomiearm_ros2_control
      use_gazebo="$(arg use_gazebo)"/>


    <xacro:include filename="$(find roomiearm_description)/urdf/sensors/camera.urdf.xacro"/>

</robot>
