<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="roomiearm_ros2_control" params="name:=RoomieArm use_gazebo:=false">
    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_gazebo}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_gazebo}">
          <plugin>roomiearm_hardware/RoomieArmHardwareInterface</plugin>
          <param name="serial_port_name">/dev/ttyACM0</param>
          <param name="serial_baud_rate">115200</param>
        </xacro:unless>
      </hardware>
      
  
      <joint name="joint_1">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_2">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_3">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_4">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>